

.card{
    width: 32%;
    float: left;
    margin: 5px;
}

header{
    background-color: rgba(173, 134, 173, 0.027);
    border-bottom: 3px solid rgb(212, 16, 16);
}

.img-1{
    width: 120px;
}
h5{
    line-height: 3;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-link{
    color: black;
}

#bootec{
    width: 130px;
    height: 80px;
}



#tec{
    background-image: url(../image/tec-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: auto;
    height: 400px;
    border-bottom: 2px solid rgb(212, 16, 16) ;
    text-align: center;
    
}

.letras{
    color:white;
    
}


#celular{
    height: 237px;
}

section{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
footer{
    background-color: rgba(173, 134, 173, 0.185);   
}
footer p{
    color:black;
}
input, 
textarea{
    margin-bottom: 1rem;
}
body{
    background-color: rgba(31, 11, 11, 0.13);
}

.card{
    background-color: rgba(128, 128, 128, 0.171);
}

.logo{
    width: 40%;
    height: 75px;
}